<header class="site-header container">
    <div class="nav-wrapper ">
        <a href="#" class="brand-logo">
            <h1 class="main-header ">DOIT</h1>
            <i class="large material-icons">done_all</i>
        </a>
        <ul class="authorization-list">
            <li class="authorization-list-item">
                <button type="button" class="authorization-action">Log in</button>
            </li>
            <li class="authorization-list-item">
                <button type="button" class="authorization-action">
                    Sign up
                </button>
            </li>
        </ul>
    </div>
</header>